.dashboard__container{

    background-color: black;
    height: 100vh;
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 20px;
    width: 18%;
}

.link--text{
    color: white;
    display: flex;

}
.list--text{
    text-decoration: none;
    list-style: none;
    margin-top: 35px;
    cursor: pointer;


}

.dashboard__list__container{
    margin-top: 80px;

}

.text{
    font-size: 1rem;
    margin-left: 10px;
    color: white;
    

}

.logo{
    display: flex;
    color: white;
}

.heading{
    color: rgb(142 142 142);

}

.logo__second__color{
    color: rgb(142 142 142);

}

.icon{
    color: rgb(142 142 142);


}

.text--spacing{
    letter-spacing: .1rem;
}

.logout{
    margin-top: 150px;
}